html{
    font-family: "Quicksand";
    color: #53f4ff;
}

.momcontainer{

    height: auto;
    overflow: hidden;
}



html button {
    font-family: inherit;
    background-color: #061826;
    color: #53f4ff;
    border: none;
    padding: 3px 9px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    width: 145px;
    height: 45px;
    letter-spacing: 1.2px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 0.2px black;
}

textarea {
    
    min-width: 250px;
    height: 36px;
    overflow: hidden;
    resize: none;
    padding: 8px 6px 0px 6px;
    
    margin-bottom: 3px;
    box-sizing: border-box;

    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1.3px;
    font-size: 14px;
}

html button:hover {
    font-weight: bold;
    box-shadow: none;
    border: 1px dotted black;
    color: #061826;
    background-color: #53f4ff;
}

/*Colors


--dark-moss-green: #3f612d;
--dutch-white: #e8dab2;
--honolulu-blue: #0471a6;
--rich-black-fogra-29: #061826;
--electric-blue: #53f4ff;

*/
.mycolumns:first-child{

    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 25%;
    min-height: 1000px;
    height: inherit;
    background-color: #061826;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    
}


.mycolumns:nth-child(2){

    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75%;
    padding: 24px 0px;
    box-sizing: border-box;
    min-height: 600px;
    background-color: #53f4ff;


    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;

    
}

.mycolumnchildren:first-child{

    width: 85%;
    height: 600px;
    background-color: transparent;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.mycolumnchildren:first-child h1{
    font-size: 48px;
    color: #061826;
}

.mycolumnchildren:first-child p{
    font-size: 24px;
    color: #061826;
}

.featuredone:first-child img, .featuredone:nth-child(2) img, .featuredone:nth-child(3) img {

    width: 300px;
    height: 300px;
}


.mycolumnchildren:nth-child(2){ 

    position: relative;

    width: 100%;
    min-height: 800px;
    background-color: transparent;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.featuredone{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: #061826;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.featuredbox{
    margin-left: 48px;
    
}

.mylineone{
    position: absolute;
    bottom: 1px;
    right: 0px;
    width: 33%;
    height: 1.69px;
    background-color: #53f4ff;
}

.mycolumnchildren:nth-child(3){
    position: relative;

    width: 100%;
    min-height: 800px;
    background-color: #061826;
    text-align: left;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.abouttitdiv, .contacttitdiv{
    width: 85%;
    background-color: transparent;
}

.aboutdescrdiv{
    width: 88%;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.aboutdescrboxes{
    position: relative;

    width: 48%;
    min-width: 300px;
    margin: 2px 2px;
    padding: 6px 12px;
    box-sizing: border-box;
    background-color: transparent;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
   
}

.aboutdescrboxes h2{
    margin-block-start: 0px;
    margin-block-end: 6px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    width: 85%;
    background-color: transparent;
    color: #53f4ff;
}

.aboutdescrboxes p{
    margin-block-start: 0px;
    margin-block-end: 6px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1.69px;

    width: 85%;
    
    background-color: transparent;
    color: #53f4ff;
}

.descricon{

    position: absolute;
    left: 16px;
    top: 16px;
    margin-right: 0px;
    background-color: transparent;
    width: 42px;
    height: 42px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.aboutdescrboxes:nth-child(1) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/swim-icon1.png");
  
}

.aboutdescrboxes:nth-child(2) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/competition-icon1.png");
  
}

.aboutdescrboxes:nth-child(3) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/swim-icon1.png");
  
}

.aboutdescrboxes:nth-child(4) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/lifeguard-icon1.png");
  
}

.aboutdescrboxes:nth-child(5) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/medals-icon1.png");
  
}

.aboutdescrboxes:nth-child(6) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/calendar-icon1.png");
  
}

.mycolumnchildren:nth-child(4){

    position: relative;

    width: 100%;
    min-height: 800px;
    background-color: #061826;
    text-align: left;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.contactdescrdiv{
    position: relative;

    width: 88%;
    background-color: transparent;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.contactformdiv{

    width: 56%;
    height: auto;
    background-color: transparent;
    box-sizing: border-box;
    margin: 3px 36px 3px 3px;
    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contactlistdiv{

    width: 40%;
}

.formitemdiv p{

    margin-block-start: 6px;
    margin-block-end: 6px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.3px;
}

.formitemdiv:nth-child(3){
    width: 100%;
}

#contactmessage{

    width: 100%;
    height: 269px;
}

.contactlistdiv h2{
    
    font-size: 24px;
    margin-block-start: 0px;
    margin-block-end: 3px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contactlistdiv p{

    width: 100%;
    
    font-size: 16px;
    margin-block-start: 6px;
    margin-block-end: 18px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

.mysocials{

    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
}

.socialitem{
    position: relative;

    width: 48px;
    height: 24px;
    margin: 6px 6px 0px 6px;
    box-sizing: border-box;
    cursor: pointer;

    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

.socialitem:nth-child(1){
    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/facebook-icon.png");
}

.socialitem:nth-child(2){
    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/twitter-icon.png");
}

.socialitem:nth-child(3){
    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/instagram.png");
}

.mycolumnchildren:nth-child(5){
    position: relative;
    height: 350px;
    width: 100%;
    margin-bottom: -69px;
    background-color: #53f4ff;
    color: #061826;
    text-align: center;
    font-weight: bold;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

#ismizo{

    position: absolute;
    right: 69px;
    bottom: 69px;
}


.logocontainer{

    width: 230px;
    height: 69px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
    padding: 3px 3px;
    background-color: #53f4ff;
    color: #061826;
    box-sizing: border-box;
    margin: 64px 0px 64px 0px;
}

.sidemenucontainer ul {
    list-style-type:none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.sidemenucontainer li {
    width: 169px;
    margin-block-start: 36px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.69px;
    box-sizing: border-box;
    padding: 6px 12px;
}

.sidemenucontainer li:hover {
  color: #061826;
  background-color: #53f4ff;
}

.sidemenuitem li{

    cursor: pointer;
}



/*JS items styles go here*/

.loginbutt{

    color: #061826;
    background-color: transparent;
}

.loginbutt:hover{

    color: #53f4ff;
    background-color: #061826;
}
/*Media Queries Go Here*/ 

@media screen and (max-width: 1024px) {

    .mycolumns:first-child{

        display: block;
        position: absolute;
        top: -100px;
        left: -1000px;
        width: 0px;
        height: 0px;
    
        
    }


    .mycolumns:nth-child(2){

        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 24px 48px;
        box-sizing: border-box;
        min-height: 600px;
    
    
        
    }

    .featuredone{
    
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        background-color: transparent;
        color: #061826;

        padding-bottom: 36px;

        margin: 6px 0px 12px 0px;
    }


    .featuredone:first-child img, .featuredone:nth-child(2) img, .featuredone:nth-child(3) img {

        width: 100%;
        height: auto;
    }

    .featuredbox{
        margin-left: 0px;
        
    }

    .mylineone{
        min-width: 120px;
        background-color: #061826;
        bottom: 18px;
    }


    .mycolumnchildren:nth-child(3), .mycolumnchildren:nth-child(4){


        
        background-color: transparent;
        color: #061826;
    
    }

    .aboutdescrboxes h2, .aboutdescrboxes p, .mycolumnchildren:nth-child(4) h1,.mycolumnchildren:nth-child(4) p, .contactlistdiv h2{
  
        color: #061826;
    }


    .aboutdescrboxes:nth-child(1) .descricon{

        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/swim-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(2) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/competition-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(3) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/swim-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(4) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/lifeguard-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(5) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/medals-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(6) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/calendar-icon1.png");
      
    }

    .socialitem:nth-child(1){
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/facebook-icon.png");
    }
    
    .socialitem:nth-child(2){
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/twitter-icon.png");
    }
    
    .socialitem:nth-child(3){
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/instagram.png");
    }



    .aboutdescrboxes{

        width: 100%;
        margin: 14px 0px;
       
    }

    .descricon{

        left: 0px;
        top: 45%;
    
    }

    .contactdescrdiv {
        flex-flow: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }


    .contactformdiv {
        width: 100%;
        margin: 0px 0px 48px 0px;
    
    }

    .formitemdiv:nth-child(3){
        margin-bottom: 24px;
    }

    .contactlistdiv{
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .addresslistitem{
        width: 100%;
        text-align: center;


    }

    .addresslistitem:nth-child(4){

        background-color: transparent;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    

    .contactlistdiv h2{
        width: 100%;
    }

    .mysocials{

        width: 60%;
        height: auto;
        background-color: transparent;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    
    
    }

    .socialitem{

        margin: 6px 0px 6px 18px;
    }



    .mycolumnchildren:nth-child(5){
        
        height: 136px;
        width: 100%;
        padding: 18px 36px;
        box-sizing: border-box;
        margin-bottom: -36px;
        background-color: #061826;
        color: #53f4ff;
        justify-content: flex-start;
    
    }

    #ismizo{
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3px;
        padding-right: 18px;
        position: relative;
        right: -48%;
        top: 42px;
    }

 
    

   
  }