html{
    font-family: "Quicksand";
    color: #120094;
}

.momcontainer{

    height: auto;
    overflow: hidden;
}



html button {
    font-family: inherit;
    background-color: white;
    color: #120094;
    border: none;
    padding: 3px 9px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    width: 145px;
    height: 45px;
    letter-spacing: 1.2px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 0.2px white;
}

textarea {
    
    min-width: 99px;
    height: 36px;
    overflow: hidden;
    resize: none;
    padding: 8px 6px 0px 6px;
    
    margin-bottom: 3px;
    box-sizing: border-box;

    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1.3px;
    font-size: 14px;
}

html button:hover {
    font-weight: bold;
    box-shadow: none;
    border: 1px dotted white;
    color: white;
    background-color: #120094;
}

/*Colors


--dark-moss-green: #3f612d;
--dutch-white: #e8dab2;
--honolulu-blue: #0471a6;
--rich-white-fogra-29: white;
--electric-blue: #120094;
--newdarkblu: #120094

*/

.settcont{
    display: block;
    position: fixed;
    top: 140px;
    border-radius: 6px;
    left: 27.5%;

    border: 3px dotted transparent;
    padding: 9px 16px;

    width: 20%;
    min-width: 69px;
    max-width: 300px;
    height: 48px;

    background-color: transparent;
}

.settcont img{
    display: block;
    position: absolute;
    top: 3px;
    left: 47%;
    width: 16px;
    height: auto;
    overflow-y: scroll;
}

.setinset{

    visibility: hidden;
    
    width: 100%;
    height: 100%;
    position: relative;
    bottom: -12px;

    transition: all 1.3s ease-out;

    background-color: #120094;

    box-shadow: inset 1.69px 1.69px 1.69px 1px white;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    scrollbar-width: none; 
    -ms-overflow-style: none;
    overflow-y: scroll;
}

.cpancontentcont{
    width: 100%;
    height: auto;
    padding: 12px 12px;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.cpancontentcont .butts {
    margin-top: 6px;
    margin-bottom: 6px;
    box-sizing: border-box;
    padding: 12px 12px;
    cursor: pointer;

    border-radius: 6px;
    width: 85%;
    background-color: white;
    color: #120094;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-align: center;
    box-shadow: 0 1px 6px white;
    z-index: 1000;

}
.setinset::-webkit-scrollbar { display: none; }
.mycolumns:first-child{

    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 25%;
    min-height: 1000px;
    height: inherit;
    background-color: white;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    
}



.mycolumns:nth-child(2){

    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75%;
    padding: 24px 0px;
    box-sizing: border-box;
    min-height: 600px;
    background-color: #120094;


    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    background-image: url("https://ismailisimba.github.io/swimone/resources/testfiles/SwimCity.jpg");
    background-size: 100%;
    background-position: right;

    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none; -ms-overflow-style: none;

    
}
.mycolumns::-webkit-scrollbar { display: none; }

.mycolumnchildren:first-child{

    width: 85%;
    height: 600px;
    background-color: transparent;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.mycolumnchildren:first-child h1{
    font-size: 48px;
    color: white;
}

.mycolumnchildren:first-child p{
    font-size: 24px;
    color: white;
}

.featuredone:first-child img, .featuredone:nth-child(2) img, .featuredone:nth-child(3) img {

    width: 300px;
    height: 300px;
}


.mycolumnchildren:nth-child(2){ 

    position: relative;

    width: 100%;
    min-height: 800px;
    background-color: transparent;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.featuredone{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: white;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.featuredbox{
    margin-left: 48px;
    
}

.mylineone{
    position: absolute;
    bottom: 1px;
    right: 0px;
    width: 33%;
    height: 1.69px;
    background-color: #53f4ff;
}

.mycolumnchildren:nth-child(3){
    position: relative;

    width: 100%;
    min-height: 800px;
    background-color: #53f4ff;
    text-align: left;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.abouttitdiv, .contacttitdiv{
    width: 85%;
    background-color: transparent;
}

.aboutdescrdiv{
    width: 88%;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.aboutdescrboxes{
    position: relative;

    width: 48%;
    min-width: 300px;
    margin: 2px 2px;
    padding: 6px 12px;
    box-sizing: border-box;
    background-color: transparent;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
   
}

.aboutdescrboxes h2{
    margin-block-start: 0px;
    margin-block-end: 6px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

    width: 85%;
    background-color: transparent;
    color: #120094;
}

.aboutdescrboxes p{
    margin-block-start: 0px;
    margin-block-end: 6px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1.69px;

    width: 85%;
    
    background-color: transparent;
    color: #120094;
}

.descricon{

    position: absolute;
    left: 16px;
    top: 16px;
    margin-right: 0px;
    background-color: transparent;
    width: 42px;
    height: 42px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.aboutdescrboxes:nth-child(1) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/swim-icon1.png");
  
}

.aboutdescrboxes:nth-child(2) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/competition-icon1.png");
  
}

.aboutdescrboxes:nth-child(3) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/swim-icon1.png");
  
}

.aboutdescrboxes:nth-child(4) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/lifeguard-icon1.png");
  
}

.aboutdescrboxes:nth-child(5) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/medals-icon1.png");
  
}

.aboutdescrboxes:nth-child(6) .descricon{

    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/calendar-icon1.png");
  
}

.mycolumnchildren:nth-child(4){

    position: relative;

    width: 100%;
    min-height: 800px;
    background-color: white;
    text-align: left;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.contactdescrdiv{
    position: relative;

    width: 88%;
    background-color: transparent;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.contactformdiv{

    width: 56%;
    height: auto;
    background-color: transparent;
    box-sizing: border-box;
    margin: 3px 36px 3px 3px;
    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contactlistdiv{

    width: 40%;
}

.formitemdiv p{

    margin-block-start: 6px;
    margin-block-end: 6px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1.3px;
}

.formitemdiv:nth-child(3){
    width: 100%;
}

#contactmessage{

    width: 100%;
    height: 269px;
}

.contactlistdiv h2{
    
    font-size: 24px;
    margin-block-start: 0px;
    margin-block-end: 3px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contactlistdiv p{

    width: 100%;
    
    font-size: 16px;
    margin-block-start: 6px;
    margin-block-end: 18px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

.mysocials{

    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
}

.socialitem{
    position: relative;

    width: 48px;
    height: 24px;
    margin: 6px 6px 0px 6px;
    box-sizing: border-box;
    cursor: pointer;

    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}

.socialitem:nth-child(1){
    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/facebook-icon.png");
}

.socialitem:nth-child(2){
    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/twitter-icon.png");
}

.socialitem:nth-child(3){
    background-image: url("https://ismailisimba.github.io/swimone/resources/icons/instagram.png");
}

.mycolumnchildren:nth-child(5){
    position: relative;
    height: 350px;
    width: 100%;
    margin-bottom: -69px;
    background-color: #120094;
    color: white;
    text-align: center;
    font-weight: bold;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

#ismizo{

    position: absolute;
    right: 69px;
    bottom: 69px;
}


.logocontainer{

    width: 230px;
    height: 169px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
    padding: 3px 3px;
    background-color: transparent;
    color: transparent;
    box-sizing: border-box;
    margin: 64px 0px 64px 0px;

    background-image: url("https://ismailisimba.github.io/swimone/resources/testfiles/taliss-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sidemenucontainer ul {
    list-style-type:none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.sidemenucontainer li {
    width: 169px;
    margin-block-start: 36px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.69px;
    box-sizing: border-box;
    padding: 6px 12px;
}

.sidemenucontainer li:hover {
  color: white;
  background-color: #120094;
}

.sidemenuitem li{

    cursor: pointer;
}


.spanCont{
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 85%;
    box-sizing: border-box;
    padding: 12px 24px;
    justify-content: space-evenly;

    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3px;
  }

  .spanCont span {
      color: #120094;
  }

  .dots{
    position: relative;
    margin-top: 6px;
    top: -6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #120094;

    animation: wobbleMeDots 1.9s linear 0s infinite forwards ;
    transition: all linear 1s;
  }

  #spOne {
    animation-delay: 0.9s;
  }

  #spTwo {
    animation-delay: 1.8s;
  }

  #spThree {
    animation-delay: 2.7s;
  }

  #spFour {
    animation-delay: 3.6s;
  }

  #spFive {
    animation-delay: 4.5s;
  }

  @keyframes wobbleMeDots {

    0%{
        top: -6px;
    }

    50%{

      top: 12px;
      
    }

    100%{

      top: -6px;

    }
    
  }

/*JS javascript items styles go here*/

.custompopup{
    display: block;
    visibility: hidden;
    position: fixed;

    width: 50%;
    left: 50%;
    top: 25%;
    height: 50%;

    background-color: white;
    z-index: 1000;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
}

.testhref1selected {

    opacity: 0.69 !important;
}

.inputcontainer{
    visibility: hidden;
    width: 100% !important;
    height: 0px !important;
}

#inputone, #inputtwo{
    display: none;
}
.genericCpanCont{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 36px;

    width: 85%;
    background-color: white;
    color: white;
    border-radius: 6px;
    padding-bottom: 12px;
    min-height: 18px;
    height: auto;
    visibility: hidden;
  }

  .cPanContTit{
    position: absolute;
    top: 6px;
    width: 85%;
    min-height: 48px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.3px;
    background-color: transparent;
    text-align: center;

  }

  .imageListItemCont{

    width:85%;
    min-height: 36px;
    padding: 6px 0px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 0.69px dotted #120094;
  }



  .imageListItemCont .filename,  .imageListItemCont .filetype, .imageListItemCont .filesize{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

    padding-left: 18px;
    padding-right: 18px;
    font-size: 12px;
    letter-spacing: 1.69px;

    background-color: transparent;
  }

#temporarydiv{
    position: relative;
    width: 65%;
    min-width: 69px;
    align-self: flex-end;
    top: 120px;
    margin-top: 6px;
    margin-right: 24px;
}

.mylogbutt{

    border: 3px dotted white;
    padding: 9px 16px;
    border-radius: 6px;
}

.loginbutt{

    color: white;
    background-color: transparent;
}

.loginbutt:hover{

    color: #120094;
    background-color: white;
}

.googlestuff{

    color: #120094;
    position: absolute;
    top: 25px;
    right: 25px;
}
.googlestuff a{

    color: white !important;
    text-decoration: none !important;


}
/*Media Queries Go Here*/ 


@media screen and (max-width: 1024px) {

    .cpancontentcont .butts {
    
        padding: 6px 6px;
        border-radius: 3px;
        width: 85%;
        background-color: white;
        color: #120094;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 1.3px;
        text-align: center;
        box-shadow: 0 1px 6px white;
    }

    .settcont{
        left: 36px;
    }

    #temporarydiv{

        margin-right: -9px;
    }


    .mycolumns:first-child{

        display: block;
        position: absolute;
        top: -100px;
        left: -1000px;
        width: 0px;
        height: 0px;
    
        
    }


    .mycolumns:nth-child(2){

        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 24px 48px;
        box-sizing: border-box;
        min-height: 600px;
    

        background-image: url("https://ismailisimba.github.io/swimone/resources/testfiles/SwimCity.jpg");
        background-size: 100%;
        background-position: right;
    
        
    }

    .featuredone{
    
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        background-color: transparent;
        color: white;

        padding-bottom: 36px;

        margin: 6px 0px 12px 0px;
    }


    .featuredone:first-child img, .featuredone:nth-child(2) img, .featuredone:nth-child(3) img {

        width: 100%;
        height: auto;
    }

    .featuredbox{
        margin-left: 0px;
        
    }

    .mylineone{
        min-width: 120px;
        background-color: #53f4ff;
        bottom: 18px;
    }


    .mycolumnchildren:nth-child(3), .mycolumnchildren:nth-child(4){


        
        background-color: #53f4ff;
        color: white;
    
    }

    .aboutdescrboxes h2, .aboutdescrboxes p, .mycolumnchildren:nth-child(4) h1,.mycolumnchildren:nth-child(4) p, .contactlistdiv h2{
  
        color: white;
    }


    .aboutdescrboxes:nth-child(1) .descricon{

        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/swim-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(2) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/competition-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(3) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/swim-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(4) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/lifeguard-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(5) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/medals-icon1.png");
      
    }
    
    .aboutdescrboxes:nth-child(6) .descricon{
    
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/calendar-icon1.png");
      
    }

    .socialitem:nth-child(1){
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/facebook-icon.png");
    }
    
    .socialitem:nth-child(2){
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/twitter-icon.png");
    }
    
    .socialitem:nth-child(3){
        background-image: url("https://ismailisimba.github.io/swimone/resources/icons/mobile/instagram.png");
    }



    .aboutdescrboxes{

        width: 100%;
        margin: 14px 0px;
       
    }

    .descricon{

        left: 0px;
        top: 45%;
    
    }

    .contactdescrdiv {
        flex-flow: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }


    .contactformdiv {
        width: 100%;
        margin: 0px 0px 48px 0px;
    
    }

    .formitemdiv:nth-child(3){
        margin-bottom: 24px;
    }

    .contactlistdiv{
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .addresslistitem{
        width: 100%;
        text-align: center;


    }

    .addresslistitem:nth-child(4){

        background-color: transparent;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    

    .contactlistdiv h2{
        width: 100%;
    }

    .mysocials{

        width: 60%;
        height: auto;
        background-color: transparent;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    
    
    }

    .socialitem{

        margin: 6px 0px 6px 18px;
    }



    .mycolumnchildren:nth-child(5){
        
        height: 136px;
        width: 100%;
        padding: 18px 36px;
        box-sizing: border-box;
        margin-bottom: -36px;
        background-color: white;
        color: #120094;
        justify-content: flex-start;
    
    }

    #ismizo{
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3px;
        padding-right: 18px;
        position: relative;
        right: -48%;
        top: 42px;
    }

 
    

   
  }